//
   Created by Tim on 2/24/2016.

doctype !!!
html(ng-controller="AppContainerCtrl")
    head
        meta(name="viewport", content="width=device-width", initial-scale="1", maximum-scale="1", user-scalable="0")
        link(rel="stylesheet", href="/assets/less/compiled/styles.css", type="text/css")
        title {{appData.name}}
        base(href="/")
    body(ng-cloak)

        div(class="row")
            div(class="small-12 columns")
                h1(class='title')
                    a(href='/') {{appData.name}}
        div(class="row")
            div(class="small-12 columns")
                top-menu
        div(message-flash)
        div(class="view-container")
            div(ng-view)
        script(data-main="/assets/scripts/main.js" , src="/assets/scripts/libs/requirejs/require.js")

