//
   Created by Tim on 2/24/2016.

doctype !!!
html
    head
        link(rel="stylesheet", href="/assets/less/compiled/styles.css", type="text/css")
        title PhotoBlog
        base(href="/")
    body(ng-controller="AppContainerCtrl")
        script(data-main="/assets/scripts/main.js" , src="/assets/scripts/libs/requirejs/require.js")
        div(ng-view)
