//
   Created by Tim on 2/24/2016.

doctype !!!
html
    head
        title PhotoBlog
    body
        div#help sdfsdf
        script(data-main="/assets/scripts/main.js" , src="/assets/scripts/libs/requirejs/require.js")
