//
   Created by Tim on 2/24/2016.

doctype !!!
html
    head
        title PhotoBlog
        base(href="/")
    body
        script(data-main="/assets/scripts/main.js" , src="/assets/scripts/libs/requirejs/require.js")
        div(ng-view)
