// COLORS
@mute: #D9EFE9;

.header-font(){
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.transition(@transition: .3s){
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}