@import (inline, optional) url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import (inline, optional) url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import (inline) "foundation.min.css";
@import (reference) "mixins.less";

.ui-autocomplete{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;min-width:160px;_width:160px;padding:4px 0;margin:2px 0 0 0;list-style:none;background-color:#ffffff;border-color:#ccc;border-color:rgba(0, 0, 0, 0.2);border-style:solid;border-width:1px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;*border-right-width:2px;*border-bottom-width:2px}.ui-autocomplete .ui-menu-item > a.ui-corner-all{display:block;padding:3px 15px;clear:both;font-weight:normal;line-height:18px;color:#555555;white-space:nowrap}.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover,.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active{color:#ffffff;text-decoration:none;background-color:#0088cc;border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px;background-image:none}

[ng-cloak]{
  display: none;
}

h1,h2,h3,h4,h5,h6{
  .header-font;
  .transition;
  small{
    line-height: 1.2;
    color: @dark-overlay;
  }
}

h1.title{
  a{
    color: @dark;
    text-decoration: none;
  }
}

.view-container{
  height: 100%;
  position: relative;
  .perspective();
}

#message-box{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.button{
  .header-font;
  background-color: @highlight;
}

.app-data-panel{
  .panel(2rem);
}

.collection-menu{
  .panel{
    .panel();
  }
}

.image-list{
  .photo-container{
    .perspective();

    .photo{
      .transform-style();
      .transition;
      .front{
        img{
          width: 100%;
        }
        h6{
          font-family: "Permanent Marker", "Comic Sans MS", sans-serif;
        }
      }
      .back{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;
        .transform(rotateY(180deg));
      }

      .front, .back {
        .panel(@background-color: @white; @border-radius: none);
        .box-shadow(0px 5px 5px #888);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }

    &.hover .photo,
    &:hover .photo{
      .transform(rotateY(180deg));
    }
  }

  .button{
    margin-bottom: 0;
  }
}

.photo-viewer{
  .panel{
    .panel(@background-color: @grey);

  }
}

.home-index{
  .panel{
    .panel()
  }
}

image-preview,
[image-preview]{
  position: relative;
  display: inline-block;
  .preview-box.panel{
    display: none;
    background-color: @mute;
    position: absolute;
    width: 170px;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

image-preview,
[image-preview],
.collection-list li a{
  .bubble-link();
}

.photo-collections li{
 .bubble-link(@pill-color: @red);
}

.panel{
  .panel(@background-color: @grey)
}

.post-container{
  overflow: hidden;
  position: relative;
  .title{
    color: @white;
    padding: 0.8rem 1rem .4rem;
  }
  .date{
    .header-font;
    text-align: right;
    color: @dark-overlay;
    text-transform: uppercase;
    padding: 0 0.8rem;
    margin-bottom: 0;
    .transition();
    &:hover{
      color: @dark;
    }
  }
  .remove{
    .header-font;
    text-transform: uppercase;
    color: @dark-overlay;
    vertical-align: top;
    font-size: .7rem;
    line-height: 1.6rem;
    padding: 0 0.8rem;
    .bubble-link(@pill-color: @red);
  }
  .corner{
    border-color: @white @white transparent transparent;
    border-style: solid;
    position: absolute;
    border-width: 12px;
    background: @dark-overlay;
    display: block;
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    .border-radius(0 0 0 5px);
  }
  margin-bottom: 2rem;
  background: @highlight;
  color: @white;
  .border-radius;
}

@import "animations.less";