<div ng-repeat="photo in photos" class="row photo">
    <div class="small-12 columns">
        <div class="post-container">
            <a ng-href="/photo/{{photo._id}}">
                <span class="corner"></span>
            </a>
            <a ng-href="/photo/{{photo._id}}">
                <h6 class="title">{{photo.title}}</h6>
                <img src="{{photo.files.large}}">
            </a>
            <div class="row">
                <div class="small-6 columns">
                    <a class="remove" ng-if="collection" ng-click="removeFromCollection(photo, $index)" ><span>remove from {{collection.name}}</span></a>
                </div>
                <div class="small-6 columns">
                    <a ng-href="/photo/{{photo._id}}">
                        <p class="date">Posted {{photo.date | isoDate}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 column">
        <a class="button expanded" ng-show="photos.length > 0" ng-click="loadPage()">Load More</a>
    </div>
</div>
