<div class="row photo-viewer" ng-show="photo">
    <div class="small-10 column small-centered">
        <img src="{{photo.files.huge}}">
        <h4>{{photo.title}}</h4>
        <div class="row">
            <div class="small-4 column">
                <div class="panel" ng-if="admin">
                    <h6>collections</h6>
                    <input collection-auto-complete ui-items="collections" type="text">
                    <h6 ng-show="photo.collections.length > 0"><small>click to remove</small></h6>
                    <ul class="no-bullet photo-collections">
                        <li ng-repeat="collection in photo.collections" ng-click="removeCollection(collection, $index)">
                            <span>{{collection.name}}</span>
                        </li>
                    </ul>
                    <p ng-hide="photo.collections.length > 0"><strong>Not part of any collections!</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
