<top-menu></top-menu>
<div class="row">
    <div class="small-10 column small-centered">
        <div class="row">
            <div class="small-12 small-centered column collection-menu">
                    <collection-filter></collection-filter>
            </div>
        </div>

        <div class="row">
            <div class="small-up-2 medium-up-4 large-up-5 image-list">
                <div ng-repeat="photo in photos | collectionFilter: photoFilter:false" class="column">
                    <div class="photo-container">
                        <div class="photo">
                            <div class="front">
                                <img src="{{photo.files.thumb}}">
                                <h6>{{photo.title}}</h6>
                            </div>
                            <div class="back">
                                <div class="row collapse">
                                    <div class="small-6 column">
                                        <a ng-href="/admin/edit-photo/{{photo._id}}" class="button tiny expanded">view/edit</a>
                                    </div>
                                    <div class="small-6 column">
                                        <a ng-href="#" class="button tiny expanded" ng-click="deletePhoto(photo)">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 column">
                <a class="button expanded" ng-click="loadPage()">Load More</a>
            </div>
        </div>
    </div>
</div>

