<div class="row">
    <div class="small-3 column collection-list">
        <div class="panel">
            <form ng-submit="addCollection()">
                <input type="text" placeholder="Add Collection" ng-model="newCollection.name"/>
            </form>
            <ul>
                <li ng-repeat="collection in collections">
                    {{collection.name}}
                </li>
            </ul>
        </div>
    </div>
    <div class="small-9 column">
        sup upsups
    </div>
</div>
