<top-menu></top-menu>

<div class="row collections-admin">
    <div class="small-3 column">
        <div class="panel">
            <h6>Collections</h6>
            <form ng-submit="addCollection()">
                <input type="text" placeholder="Create New Collection" ng-model="newCollection.name"/>
            </form>
            <ul class="no-bullet collection-list">
                <li ng-repeat="collectionli in allCollections" ng-class="{'selected sdf':collectionli._id === collection._id}">
                    <a href="/admin/collections/{{collectionli._id}}"><span>{{collectionli.name}}</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="small-6 column">
        <h5 ng-hide="collection._id">Choose a collection!</h5>
        <h3 ng-show="collection._id">{{collection.name}}</h3>
        <page-view></page-view>
    </div>
    <div class="small-3 column">
        <div class="panel" ng-show="collection._id">
            <h6>Add Photos to Collection<br><small>click title to add</small></h6>
            <collection-filter></collection-filter>
            <ul class="no-bullet">
                <li ng-repeat="photo in allPhotos | collectionFilter: photoFilter:collection._id">
                    <image-preview image="{{photo.files.small}}" ng-click="addToCollection(photo)">{{photo.title}}</image-preview>
                </li>
            </ul>
            <a class="button tiny expanded" ng-click="loadAllPage()">show more</a>
        </div>
    </div>
</div>

