<div class="row">
    <div class="small-12 small-centered column">
        <a href="/admin">Admin Home</a>
    </div>
</div>
<div class="row collections-admin">
    <div class="small-3 column">
        <div class="panel">
            <h6>Collections</h6>
            <form ng-submit="addCollection()">
                <input type="text" placeholder="Create New Collection" ng-model="newCollection.name"/>
            </form>
            <ul class="no-bullet">
                <li ng-repeat="collection in allCollections">
                    <a href="/admin/collections/{{collection._id}}">{{collection.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="small-6 column">
        <h3 ng-show="collection">{{collection.name}}</h3>
        <page-view></page-view>
    </div>
    <div class="small-3 column">
        <div class="panel">
            <h6>Add Photos to Collection</h6>
            <collection-filter></collection-filter>
            <ul class="no-bullet">
                <li ng-repeat="photo in allPhotos | collectionFilter: photoFilter:collection._id">
                    <image-preview image="{{photo.files.small}}">{{photo.title}}</image-preview>
                </li>
            </ul>
            <a class="button tiny expanded" ng-click="loadAllPage()">show more</a>
        </div>
    </div>
</div>

